{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import,
    warn_keywords
]}.
{shell, [{apps, [context]}]}.
{dialyzer, [
    {plt_apps, all_deps},
    incremental,
    {warnings, [unmatched_returns]}
]}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.
{project_plugins, [
    {erlfmt, "1.5.0"}
]}.
{erlfmt, [
    write,
    {files, ["**/*.{hrl,erl,app.src,config}"]},
    {exclude_files, ["_build/**", ".direnv/**", ".github/**", "doc/**"]}
]}.
